
        body {
            font-family: Arial, sans-serif;
            background-color: rgba(230, 239, 55, 0.8);
            text-align: center;
            padding: 20px;
        }
        .timer {
            font-size: 24px;
            margin-top: 20px;
        }
        button {
            padding: 10px 20px;
            font-size: 16px;
            margin: 10px;
            cursor: pointer;
        }
        .active {
            background-color: lightgreen;
        }
        .paused {
            background-color: lightcoral;
        };
        img {
            margin-top: 20px;
            max-width: 300px;
            max-height: 300px;
        }
        

        @media only screen and (max-width: 600px) and (orientation: portrait)  {

        .container{ /*goes around the page*/
            width:100%;
            
        }
        
        
        }

        
        @media only screen and (max-width: 600px) and (orientation: landscape)  {
        
        .container{ /*goes around the page*/
            width:100%;
            padding: 20px 0;
        }
        }
        
        
        @media only screen and(min-width:768px) {
        container{ /*goes around the page*/
            width:100%;
        
        }
        
        .banner-container {
            width:100%;
            
        }
        }
        
        @media only screen and(min-width:992px) {
        container{ /*goes around the page*/
            width:100%;
        
        }
        }
        
        /*<600px, 601, 768px, 992px, 1200px */
        
        